doctype html
html(lang='en')
 head
   title Hello, World!

   link(rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
   link(rel="stylesheet" type="text/css" href="/css/index.css")
   script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
   script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", crossorigin="anonymous")
   script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")
   script(src="https://kit.fontawesome.com/936a38ae8b.js" crossorigin="anonymous")
 
 body
  .container-fluid
    nav.navbar.navbar-expand-sm.navbar-light.bg-light
      .container
        a.navbar-brand(href='home') Naseem Miah
        button.navbar-toggler(
          type="button"
          data-toggle="collapse"
          data-target="#navbar1"
        )
          i.fas.fa-bars
        .collapse.navbar-collapse#navbar1
          ul.nav.navbar-nav.nav-fill.w-75
            li.nav-item
              a.nav-link(href="home") Home  
            li.nav-item
              a.nav-link(href='portfolio') Portfolio
            li.nav-item
              a.nav-link(href='contact') Contact
            li.nav-item
              a.nav-link(href='about') About Me

  .container.pt-5
    //- p. 
    //-   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    //-   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    //-   veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    //-   commodo consequat.

    //- p.
    //-   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    //-   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    //-   veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    //-   commodo consequat.

    .input-group.input-group-lg.pt-4
      .input-group-prepend
        span.input-group-text#enterName Enter your name please
      input.form-control#searchTxt(
        type='text/js'
        aria-label='Enter name in box'
        aria-describedby="enterName"
      )

    div#postInput

    script.
      const removeElement = elementId => {
        const element = document.getElementById(elementId)
        element.parentNode.removeChild(element)
      }

      const node = document.getElementById("searchTxt")
      node.addEventListener("keyup", ({key}) => {
        if (key === 'Enter') {
          console.log("fired")
          const oldP = document.getElementById("printedName")
          if (oldP != null) {
            removeElement("printedName")
          }

          const myNewP = document.createElement("h2")
          const name = document.getElementById("searchTxt").value
          console.log(name)
          myNewP.innerText = "Hello " + name
          myNewP.setAttribute("Id", "printedName")
          const postInput = document.getElementById("postInput")
          postInput.appendChild(myNewP).style.padding = '50px'
        }
      })
      